<?xml version='1.0' encoding="ISO-8859-1" ?>
<Config>
	<REP_FINAL>D:\clearcase_storage\gmanciet_view\PRIMA2\ProjectSpecificDocs\02_Requirements\SyFRSCC\EXPL\CDT</REP_FINAL>
	<SPEC_FINAL>B001034607 SyFRSCC</SPEC_FINAL>
	<VERSION_INITIALE>A0</VERSION_INITIALE>
	<ETAT_INITIAL>10</ETAT_INITIAL>
</Config>