
						<outVariable localId="<TMPL_VAR name=LOCAL_ID>">
							<position x="<TMPL_VAR name=VAR_POS_X>" y="<TMPL_VAR name=VAR_POS_Y>" />
							<connectionPointIn>
								<connection refLocalId="<TMPL_VAR name=MODULE_LOCAL_ID>" formalParameter="<TMPL_VAR name=FORMAL_NAME>" />
							</connectionPointIn>
							<expression><TMPL_VAR name=EXPRESSION></expression>
						</outVariable>