<TMPL_IF name=RESULTS>
<table >
    <tr class="header1">
	  <th>#</th>
	  <th>Id</th>
    <TMPL_LOOP name=HEADER>
      <th><TMPL_VAR name=FIELD></th>
    </TMPL_LOOP>
    </tr>
	<TMPL_LOOP name=RESULTS>
	<TMPL_IF name=IS_ODD>
	<tr class='odd_line'>
	<TMPL_ELSE>
	<tr class='even_line'>
	</TMPL_IF>
		<td><TMPL_VAR name=NUMBER></td>
		<td><a target="_blank" href="http://iww.cquest.villeurbanne.transport.alstom.com/cqweb/main?command=GenerateMainFrame&service=CQ&schema=CQatv&contextid=atvcm&entityID=<TMPL_VAR name=DBID>&entityDefName=ChangeRequest"><TMPL_VAR name=ID></a></td><TMPL_LOOP name=RESULT>
		<td><TMPL_VAR name=CONTENT></td>
		</TMPL_LOOP>
	</tr>
	</TMPL_LOOP>
</table>
</TMPL_IF>