{"Children":null,"ComponentAssembly":"Components.UI, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null","ComponentType":"Alstom.TrainTracer.GraphicalDashboard.Components.UI.ImageViewVariable","CustomPtyDictionary":[{"Key":"ImageWidth","Value":81.6400146484375},{"Key":"ImageHeight","Value":53},{"Key":"FullName","Value":"MPU_E1\/MPU_E1_sil0_t_sil0\/\/MPU_E1_sil0_t_sil0\/hvs\/hvs_xpu\/hvs_xpu_app\/hvs_4\/hvs_4_VC2\/FFaultTFP"},{"Key":"VariableId","Value":0},{"Key":"EmbeddedDeviceId","Value":1},{"Key":"Min","Value":0},{"Key":"Max","Value":255},{"Key":"HideText","Value":false},{"Key":"Scale","Value":1},{"Key":"Angle","Value":0},{"Key":"Locked","Value":true}],"Left":133,"Top":167},