{"Children":null,"ComponentAssembly":"Components.UI, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null","ComponentType":"Alstom.TrainTracer.GraphicalDashboard.Components.UI.ImageViewVariable","CustomPtyDictionary":[{"Key":"ImageWidth","Value":<TMPL_VAR name=SIZE_X>},{"Key":"ImageHeight","Value":<TMPL_VAR name=SIZE_Y>},{"Key":"FullName","Value":"<TMPL_VAR name=PATH>"},{"Key":"VariableId","Value":0},{"Key":"EmbeddedDeviceId","Value":1},{"Key":"Min","Value":0},{"Key":"Max","Value":255},{"Key":"HideText","Value":false},{"Key":"Scale","Value":1},{"Key":"Angle","Value":0},{"Key":"Locked","Value":<TMPL_VAR name=LOCKED>}],"Left":<TMPL_VAR name=POS_X>,"Top":<TMPL_VAR name=POS_Y>}