{"Children":null,"ComponentAssembly":"Components.UI, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null","ComponentType":"Alstom.TrainTracer.GraphicalDashboard.Components.UI.ImageControl","CustomPtyDictionary":[{"Key":"KeepImageRatio","Value":false},{"Key":"ImageWidth","Value":<TMPL_VAR name=SIZE_X>},{"Key":"ImageHeight","Value":<TMPL_VAR name=SIZE_Y>},{"Key":"ImageUrl","Value":"<TMPL_VAR name=IMAGE_PATH>"},{"Key":"Scale","Value":1},{"Key":"Angle","Value":0},{"Key":"Locked","Value":<TMPL_VAR name=LOCKED>}],"Left":<TMPL_VAR name=POS_X>,"Top":<TMPL_VAR name=POS_Y>}