{"Children":null,"ComponentAssembly":"Components.UI, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null","ComponentType":"Alstom.TrainTracer.GraphicalDashboard.Components.UI.Label","CustomPtyDictionary":[{"Key":"Text","Value":"<TMPL_VAR name=TEXT>"},{"Key":"Scale","Value":<TMPL_VAR name=SCALE>},{"Key":"Angle","Value":<TMPL_VAR name=ANGLE>},{"Key":"Locked","Value":<TMPL_VAR name=LOCKED>}],"Left":<TMPL_VAR name=POS_X>,"Top":<TMPL_VAR name=POS_Y>}