    <VariableConfigurationDTO>
      <VariableFullName><TMPL_VAR name=PATH></VariableFullName>
      <DicoVersion /><TMPL_IF name=RANGES>
      <TagList>
        <TagDto>
          <TagUse>Display</TagUse>
          <Value>&lt;ConversionList&gt;<TMPL_LOOP name=RANGES><TMPL_INCLUDE NAME="_variableRange.tmpl"></TMPL_LOOP>&lt;/ConversionList&gt;</Value>
          <TagDescriptionList />
        </TagDto>
      </TagList><TMPL_ELSE>
	  <TagList /></TMPL_IF>
    </VariableConfigurationDTO>