<TMPL_IF NAME="ImageViewVariable"><TMPL_INCLUDE NAME="_ImageViewVariable.tmpl"></TMPL_IF><TMPL_IF NAME="SimpleView"><TMPL_INCLUDE NAME="_SimpleView.tmpl"></TMPL_IF><TMPL_IF NAME="ImageControl"><TMPL_INCLUDE NAME="_ImageControl.tmpl"></TMPL_IF><TMPL_IF NAME="ImageControl"><TMPL_INCLUDE NAME="_Label.tmpl"></TMPL_IF>