    <VariableConfigurationDTO>
      <VariableFullName><TMPL_VAR name=PATH></VariableFullName>
      <DicoVersion />
       <TagList>
        <TagDto>
          <TagUse>Display</TagUse>
          <Value>&lt;ConversionList&gt;&lt;Conversion Brackets="[False..False]" ConvertedValue="R=0 G=0 B=0" Legend="Ma légende 2" Image1616=".\Images\blank-button-round-yellow 32x32.png" Image=".\Images\Transfo.PNG" /&gt;&lt;Conversion Brackets="[True..True]" ConvertedValue="R=0 G=128 B=128" Legend="" Image1616=".\Images\BL_Jaune_1case.png" Image=".\Images\acceptes-icone-5182-32.png" /&gt;&lt;/ConversionList&gt;</Value>
          <TagDescriptionList />
        </TagDto>
      </TagList>
    </VariableConfigurationDTO> 