{"Children":null,"ComponentAssembly":"Components.UI.CustomElements, Version=1.1.0.0, Culture=neutral, PublicKeyToken=null","ComponentType":"Alstom.TrainTracer.GraphicalDashboard.Components.UI.CustomElements.SimpleView","CustomPtyDictionary":[{"Key":"DisplayAscii","Value":false},{"Key":"FullName","Value":"<TMPL_VAR name=PATH>"},{"Key":"VariableId","Value":-1},{"Key":"EmbeddedDeviceId","Value":0},{"Key":"HideText","Value":false},{"Key":"Scale","Value":<TMPL_VAR name=SCALE>},{"Key":"Angle","Value":<TMPL_VAR name=ANGLE>},{"Key":"Locked","Value":<TMPL_VAR name=LOCKED>}],"Left":<TMPL_VAR name=POS_X>,"Top":<TMPL_VAR name=POS_Y>}