&lt;Conversion Brackets="[<TMPL_VAR name=RANGE_MIN>..<TMPL_VAR name=RANGE_MAX>]" ConvertedValue="<TMPL_VAR name=COLOR>" Legend="<TMPL_VAR name=LEGEND>" Image1616="<TMPL_VAR name=SMALL_IMAGE>" Image="<TMPL_VAR name=IMAGE>" /&gt;