
						<block localId="<TMPL_VAR name=LOCAL_ID>" width="<TMPL_VAR name=MODULE_WIDTH>" height="<TMPL_VAR name=MODULE_HEIGHT>" typeName="<TMPL_VAR name=MODULE_GENERIC_NAME>" instanceName="<TMPL_VAR name=MODULE_INST_NAME>">
							<position x="<TMPL_VAR name=MODULE_POS_X>" y="<TMPL_VAR name=MODULE_POS_Y>" />
							<inputVariables><TMPL_LOOP name=MODULE_VARS_IN>
								<variable formalParameter="<TMPL_VAR name=FORMAL_NAME>">
									<connectionPointIn>
										<connection refLocalId="<TMPL_VAR name=LOCAL_ID>" />
									</connectionPointIn>
								</variable></TMPL_LOOP>
							</inputVariables>
							<inOutVariables>
							</inOutVariables>
							<outputVariables>
							</outputVariables>
							<addData>
							</addData>
						</block>