					<FBD><TMPL_LOOP name=CONNECT_VARS_IN><TMPL_INCLUDE NAME="_connectVarsIn.tmpl"></TMPL_LOOP><TMPL_LOOP name=CONNECT_VARS_OUT><TMPL_INCLUDE NAME="_connectVarsOut.tmpl"></TMPL_LOOP><TMPL_LOOP name=MODULES><TMPL_INCLUDE NAME="_module.tmpl"></TMPL_LOOP>	
					</FBD>
