<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta content="text/html; utf-8" http-equiv="content-type"><title>Color rendering</title>

</head><body style="color: white; background-color: rgb(75, 75, 75);" alink="#000099" link="#000099" vlink="#990099">
<table style="text-align: center;" border="1" cellpadding="5" cellspacing="0">
<tbody>
<tr style="background-color: rgb(11, 11, 11);">
<td style="width: 150px;">Color(authorized name)</td>
<td style="width: 250px;">Color on white</td>
<td style="width: 250px;">Color on black</td>
<td style="width: 250px;">Color on "complementary" color</td>
</tr>
<TMPL_LOOP name=LIST_OF_COLORS>
<tr>
<td style="width: 200px; height: 34px;"><TMPL_VAR name=ALLOWED_COLORS></td>
<td style="background-color: white; width: 200px;"><span style="color: rgb(<TMPL_VAR name=RED>, <TMPL_VAR name=GREEN>, <TMPL_VAR name=BLUE>);">Is this text easily readable?</span></td>
<td style="background-color: black; width: 200px;"><span style="color: rgb(<TMPL_VAR name=RED>, <TMPL_VAR name=GREEN>, <TMPL_VAR name=BLUE>);">Is this text easily readable?</span></td>
<td style="background-color: rgb(<TMPL_VAR name=RED>, <TMPL_VAR name=GREEN>, <TMPL_VAR name=BLUE>); width: 200px;"><span style="color: rgb(<TMPL_VAR name=COMPL_RED>, <TMPL_VAR name=COMPL_GREEN>, <TMPL_VAR name=COMPL_BLUE>);">Is this text easily readable?</span></td>
</tr>
</TMPL_LOOP>
</tbody>
</table>
<br>
</body></html>