(* Ce module a été généré automatiquement *)

VAR
<TMPL_LOOP name=MODULES>
	MOD_<TMPL_VAR name=BASENAME>:li_red_or; (* Module de gestion de la redondance des variables <TMPL_VAR name=BASENAME> *)
</TMPL_LOOP>
END_VAR