<?xml version='1.0'?>
<Config>
	<clearquest><!-- This section describes Clearquest parameters -->
		<login></login><!-- Login you have to use in order to connect to Clearquest -->
		<password></password><!-- Password you have to use in order to connect to Clearquest -->
		<database>atvcm</database><!-- Clearquest Database where are stored bugs -->
		<product>PRIMA EL II</product>
		<fieldsToRetrieve>ID, Headline, State, Product, project_name, owner.login_name, submit_date</fieldsToRetrieve>
		<sorting>ID</sorting><!-- Not used at the moment -->
		<filtering>
			<product></product><!-- Allows to limit bugs to one or more specific product (use "," as a separator) -->
			<state>Assigned, Analysed, Updated</state><!-- Allows to limit bugs to one or more specific states (use "," as a separator) -->
		</filtering>
	</clearquest>
	<tables>
		<table>
			<title>Liste des demandes de modifications a analyser</title>
			<filename>CR_NEW.html</filename>
			<ClearquestType>ChangeRequest</ClearquestType>
			<fieldsToRetrieve>dbid, id, component.name, sub_system.name, state, headline, description, owner, component.comment</fieldsToRetrieve>
			<fieldsSorting>component.name, sub_system.name, state</fieldsSorting>
			<filtering>
				<product>PRIMA EL II</product><!-- Allows to limit bugs to one or more specific product (use "," as a separator) -->
				<state>Submitted, Recorded</state><!-- Allows to limit bugs to one or more specific states (use "," as a separator) -->
			</filtering>
		</table>
		<table>
			<title>Liste provisoire pour le prochain CCB</title>
			<filename>CR_CCB.html</filename>
			<ClearquestType>ChangeRequest</ClearquestType>
			<fieldsToRetrieve>dbid, id, component.name, sub_system.name, headline, description, proposed_change, owner, component.comment</fieldsToRetrieve>
			<fieldsSorting>component.name, sub_system.name</fieldsSorting>
			<filtering>
				<product>PRIMA EL II</product><!-- Allows to limit bugs to one or more specific product (use "," as a separator) -->
				<state>Analysed</state><!-- Allows to limit bugs to one or more specific states (use "," as a separator) -->
			</filtering>
		</table>
	</tables>
</Config>