					<addData>
						<data name="Geensys.CB.groupIn" handleUnknown="preserve">
							<value>tutu1_in,,tutu2_in,</value>
						</data>
						<data name="Geensys.CB.groupOut" handleUnknown="preserve">
							<value>tutu1_out,,tutu2_out,</value>
						</data>
					</addData>