<?xml version='1.0' encoding="ISO-8859-1" ?>
<Config>
	<tables>
		<table ClearquestType="ChangeRequest" filename="Pre-CCB.html">
			<title>Liste des demandes de modifications a analyser</title>
			<fieldsToRetrieve>dbid, id, owner, component.name, sub_system.name, headline, description, state, substate</fieldsToRetrieve>
			<fieldsSorting>owner, component.name, sub_system.name</fieldsSorting>
			<filtering>
				<product>PRIMA EL II</product><!-- Allows to limit bugs to one or more specific product (use "," as a separator) -->
				<state>Submitted, Recorded</state><!-- Allows to limit bugs to one or more specific states (use "," as a separator) -->
			</filtering>
		</table>
	</tables>
</Config>