<td>
	<div class="header-cell">
		<div class='req_id'><TMPL_VAR name=REQ_ID></div>
	</div>
	<div class='text'>References : <TMPL_VAR name=REFERENCES></div>
	<div class='text'><TMPL_VAR name=TEXTE></div>
</td>