
						<inVariable localId="<TMPL_VAR name=LOCAL_ID>">
							<position x="<TMPL_VAR name=VAR_POS_X>" y="<TMPL_VAR name=VAR_POS_Y>" />
							<expression><TMPL_VAR name=EXPRESSION></expression>
						</inVariable>