					<outputVars>
						<variable name="tutu1_Err_R1">
							<type>
								<BOOL />
							</type>
							<initialValue>
								<simpleValue value="false" />
							</initialValue>
							<addData>
								<data name="Geensys.CB.IdentifierProperty" handleUnknown="preserve">
									<value>e78f7c74-762a-48ba-9555-a7f733fd1207</value>
								</data>
								<data name="Geensys.CB.nameProvider" handleUnknown="preserve">
									<value>false</value>
								</data>
							</addData>
						</variable>
						<variable name="tutu1_Err_R2">
							<type>
								<BOOL />
							</type>
							<initialValue>
								<simpleValue value="false" />
							</initialValue>
							<addData>
								<data name="Geensys.CB.IdentifierProperty" handleUnknown="preserve">
									<value>0ee7c7a2-a391-4b26-98dc-4326f5f7f2ac</value>
								</data>
								<data name="Geensys.CB.nameProvider" handleUnknown="preserve">
									<value>false</value>
								</data>
							</addData>
						</variable>
						<addData>
							<data name="Geensys.CB.group" handleUnknown="preserve">
								<value>tutu1_out</value>
							</data>
							<data name="Geensys.CB.kind" handleUnknown="preserve">
								<value>outputVars</value>
							</data>
						</addData>
					</outputVars>