<table class='main' summary="Requirements cover table">
    <caption>Requirements cover table</caption>
    <tr class="header1">
	  <th width="33%">SyRB Requirements</br>VBN side</th>
	  <th width="33%">Clause by Clause</br>Contractual side</th>
	  <th width="33%">RSAD Requirements</br>REI side</th>
    </tr>
	<TMPL_LOOP name=REQUIREMENTS_CDC>
	<tr>
		<td>
			<TMPL_IF name=REQUIREMENTS_VBN>
			<table class='subrequirements'>
				<TMPL_LOOP name=REQUIREMENTS_VBN>
				<tr>
					<TMPL_INCLUDE NAME="_req_cell.tmpl">
				</tr>
				</TMPL_LOOP>
			</table>
			<TMPL_ELSE>
			No VBN requirements found
			</TMPL_IF>
		</td>
		<TMPL_INCLUDE NAME="_req_cell.tmpl">
		<td>
			<TMPL_IF name=REQUIREMENTS_REI>
			<table class='subrequirements'>
				<TMPL_LOOP name=REQUIREMENTS_REI>
				<tr>
					<TMPL_INCLUDE NAME="_req_cell.tmpl">
				</tr>
				</TMPL_LOOP>
			</table>
			<TMPL_ELSE>
			No REI requirements found
			</TMPL_IF>
		</td>
	</tr>
	</TMPL_LOOP>
</table>