<table summary="<TMPL_VAR name=TABLE_NAME>">
    <caption><TMPL_VAR name=TABLE_NAME></caption>
    <tr class="header1">
	  <th>Code</th>
      <th>Document</th>
	  <th>Référence<br />(<TMPL_VAR name=BEFORE_REF>)</th>
	  <th>Cible<br />(<TMPL_VAR name=AFTER_REF>)</th>
	  <th>Ecart<br />documentaire</th>
    </tr>
	<TMPL_LOOP name=RESULTS>
	<TMPL_IF name=IS_ODD>
	<tr class='odd_line'>
	<TMPL_ELSE>
	<tr class='even_line'>
	</TMPL_IF>
	<TMPL_IF name=CODE_DOC>
		<td class='CodeDoc'><TMPL_VAR name=CODE_DOC></td>
		<td><TMPL_VAR name=DOCUMENT></td>
	<TMPL_ELSE>
		<td colspan=2><TMPL_VAR name=DOCUMENT></td>
	</TMPL_IF>
		<td><TMPL_VAR name=BEFORE_TEXT></td>
		<td<TMPL_IF name=STATUS> class="<TMPL_VAR name=STATUS>"</TMPL_IF>><TMPL_VAR name=AFTER_TEXT></td>
		<td><TMPL_IF name=BIASLIST><TMPL_LOOP name=BIASLIST>
		<div class='scheduled_version'><TMPL_VAR name=SCHEDULED_VERSION></div>
		<TMPL_LOOP name=CRLIST>
		<TMPL_VAR name=ID><br>
		</TMPL_LOOP>
		</TMPL_LOOP>
		<TMPL_ELSE>&nbsp;</TMPL_IF>
		</td>
	</tr>
	</TMPL_LOOP>
</table>