<td>
	<div class="header-cell">
		<div class='req_id'><TMPL_VAR name=REQ_ID><TMPL_IF name="RISK"><div class='risk_<TMPL_VAR name=RISK>'>R-<TMPL_VAR name=RISK></div></div>
		</TMPL_IF>
		<TMPL_IF name=CLASSIFICATION><div class='<TMPL_VAR name=CLASSIFICATION>'>&nbsp;</div></TMPL_IF>
	</div>
	<div class='text'><TMPL_VAR name=TEXTE></div>
</td>