<!DOCTYPE html PUBLIC -//W3C//DTD HTML 4.01 Transitional//EN>
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1 http-equiv=content-type">
  <title><TMPL_VAR name=TABLE_NAME></title>
 <style type="text/css">
  body { margin: 1em;
    font-family: Arial,Helvetica,sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    background-color: rgb(0, 0, 0);
    }

  table { border: 0.2em solid slategrey;
    font-size: 0.8em;
    background-color: white;
    color: rgb(0, 0, 0);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    border-collapse: collapse;
    }

  td { border: 1px dotted slategrey;
    padding: 0.2em 1em;
    }

  td.head { padding: 0.2em 1em;
    text-align: right;
    font-weight: bold;
    }

  tr { border: 0.1em solid slategrey;
    }

  th.subheader { padding: 0.4em 1.5em;
    text-align: left;
    opacity: 1;
    background-color: rgb(175, 175, 255);
    }

  th { border: 0.1em solid rgb(255, 255, 255);
    padding: 0.5em;
    font-size: 1.2em;
    background-color: rgb(255, 204, 153);
    }
	
  td.CodeDoc { 
    padding: 0.5em;
    font-size: 1.2em;
	font-weight: bold;
  }

  caption { margin: 1em;
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    color: rgb(255, 255, 255);
  }
  
  .scheduled_version {
	font-weight: bold; 
	text-decoration: underline
  }

  .upgraded { background-color: lawngreen; }
  .downgraded {	background-color: red; }
  .new { background-color: slateblue;  }
  .deleted { background-color: red; }
  </style>
</head>
<body>
<h3>Fichier généré le <TMPL_VAR name=DATE></h3>
<TMPL_LOOP name=TABLES>
<TMPL_IF name=DOCLIST>
<h2>Générateur document : <TMPL_VAR name=TABLE_NAME></h2>
<TMPL_ELSE>
<TMPL_IF name=GENERICLIST>
<h2>Générateur générique : <TMPL_VAR name=TABLE_NAME></h2>
<TMPL_ELSE>
<h2>Générateur standard : <TMPL_VAR name=TABLE_NAME></h2>
</TMPL_IF>
</TMPL_IF>
</TMPL_LOOP>
</body>
</html>
