<!DOCTYPE html PUBLIC -//W3C//DTD HTML 4.01 Transitional//EN>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Analysis results (<TMPL_VAR name=DATE>)</title>
 <style type="text/css">
  body { margin: 1em;
    font-family: Arial,Helvetica,sans-serif;
    color: rgb(255, 255, 255);
	   font-size: 0.8em;
    text-align: left;
    background-color: rgb(0, 0, 0);
    }
	
div.text {
	white-space: pre-wrap;
	text-align:left;
	padding:4px;
}

  table.main { border: 0.2em solid slategrey;

    background-color: white;
    color: rgb(0, 0, 0);
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    border-collapse: collapse;
    }

table.subrequirements {
	background-color: white;
    color: rgb(0, 0, 0);
}
	
table.subrequirements td {
	padding: 0;
	border: 1px dotted grey;
}

  td { border: 0px;
    padding: 0.2em 1em;
    }
	
td > table.subrequirements {
	padding: 0;
}
	
  td.head { padding: 0.2em 1em;
    text-align: right;
    font-weight: bold;
    }

  tr { border: 0.1em solid slategrey;
    }

  th.subheader { padding: 0.4em 1.5em;
    text-align: left;
    opacity: 1;
    background-color: rgb(175, 175, 255);
    }

  th { border: 0.1em solid rgb(255, 255, 255);
    padding: 0.5em;
    font-size: 1.2em;
    background-color: rgb(255, 204, 153);
    }
	
  td.CodeDoc { 
    padding: 0.5em;
    font-size: 1.2em;
	font-weight: bold;
  }

  caption { margin: 1em;
    font-size: 0.9em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  .scheduled_version {
	font-weight: bold; 
	text-decoration: underline
  }

  .accepted { width:50px; height:50px; background-color: lawngreen; }
  .partially_accepted {	width:50px; height:50px; background-color: lightgreen; }
  .not_classified { width:50px; height:50px; background-color: grey;  }
  .not_understood { width:50px; height:50px; background-color: grey; }
  
  .req_id {
	float:left;      
	font-weight:bold;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	height:30px;
	margin:4px;
	background-color: lightgrey;
   }
  
  .header-cell { 
	margin: auto;
	text-align: center;
	width: 100%;
	}

  .color_risk_0 { background-color: green; font-weight:bold; }
  .color_risk_1 { background-color: yellow; font-weight:bold; }
  .color_risk_2 { background-color: orange; font-weight:bold; }
  .color_risk_3 { background-color: red; font-weight:bold; }
  .color_risk_9 { background-color: black; color:white; font-weight:bold; }
  .R0 { height:100%; width:38px; padding-top: 6px; float:right; background-color: green; font-weight:bold;	 }
  .R1 { height:100%; width:38px; padding-top: 6px; float:right; background-color: yellow; font-weight:bold;	 }
  .R2 { height:100%; width:38px; padding-top: 6px; float:right; background-color: orange;font-weight:bold;  }
  .R3 { height:100%; width:38px; padding-top: 6px; float:right; background-color: red;font-weight:bold;  }
  .R9 { height:100%; width:38px; padding-top: 6px; float:right; background-color: black; color:white; font-weight:bold;}
  </style>
</head>
<body>

<h1>Generic informations</h1>

<h3>File generated on <TMPL_VAR name=DATE></h3>

<table class='main' summary="Colors meaning">
    <caption>Colors meaning</caption>
	<tr>
		<th>Color</th>
		<th>Meaning</th>
	</tr>
	<tr>
		<td class="color_risk_0">R-0: No risks</td>
		<td>Requirement is meaningfull, and requires no specific action.</td>
	</tr>
	<tr>
		<td class="color_risk_1">R-1: Small risk</td>
		<td>Requirements needs some actions in order to explain/describe meaning or scope.</td>	
	</tr>
	<tr>
		<td class="color_risk_2">R-2: High risk</td>
		<td>L'exigence n'est pas sous contrle, mais une action est en cours pour tenter d'en abaisser le risque.</td>
	</tr>
	<tr>
		<td class="color_risk_3">R-3: Major risk</td>
		<td>L'exigence n'est pas sous contrle : Il est ncessaire d'accomplir des actions afin d'en abaisser le risque (accord, claircissement, etc).</td>
	</tr>
	<tr>
		<td class="color_risk_9">R-9: No analysis</td>
		<td>Requirement has not been analysed yet.</td>
	</tr>
</table>

<h1>Details of requirements covering</h1>

<TMPL_INCLUDE NAME="_list_CaC.tmpl">

<h1>Comments / history on REI covering side</h1>

<h1>Comments / history on VBN covering side</h1>
</body>
</html>
